@model KRU.Models.FileHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FileHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileFinished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileFinished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task_Type.TaskTypeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
