@model IEnumerable<KRU.Models.Plan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objects.ObjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tasks.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.ManagerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
